<!doctype html>
<html>
<head>
  <title>Game!</title>
</head>
<body>

<h1>Let's play!</h1>

<form action="/madlib">
<div>
  What is your name? <input type="text" name="person"></div>

<div>
  Enter a Color? <input type="text" name="color"></div>

<div>
<label for="noun">Choose a noun:</label>
<select name="noun" id="nouns">
  <option value="car">car</option>
  <option value="turtle">turtle</option>
  <option value="painting">painting</option>
  <option value="refrigerator">refrigerator</option>
</select></div>

<div>
Choose an adjectives: 
  <input type="radio" name="adjective" value="large" id="large-size"> 
  <label for="large-size">large</label>

  <input type="radio" name="adjective" value="smelly" id="scent-smelly"> 
  <label for="scent-smelly">smelly</label>
  
  <input type="radio" name="adjectivev" value="sweet" id="taste-sweet"> 
  <label for="taste-sweet">sweet</label></div>
  <br>

  <input type="submit">






</form>

</body>
</html>
